<h1 class="title">ログイン</h1>
<%= form_with(scope: :session, url: sessions_path, local: true ) do | f | %>
<div class="form-field">
  <div>
    <%= f.label :"Eメールアドレス:", class:"input-label"%>
    <%= f.email_field :email, class:"input" %>
  </div>
  <div>
    <%= f.label :"パスワード:", class:"input-label"%>
    <%= f.password_field :password, class:"input-label", class:"input" %>
  </div>
  <div>
    <%= f.submit "ログイン",class:"input" %>
  </div>
  <div>
    <%= link_to "ブログ一覧へ", blogs_path, class:"link" %>
  </div>
</div>
<% end %>
