<%= form_with(model: @blog, local: true) do | f | %>
  <% if @blog.errors.any? %>
  <div>
  <P><%= @blog.errors.count %>件のエラーがあります。</P>
  <ul>
    <% @blog.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
  </div>
  <% end %>
  <div class="form_field">
    <div>
      <%= f.label :"タイトル:" %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :"内容:" %>
      <%= f.text_field :content %>
    </div>
    <div>
      <!-- ここにイメージを追加 -->
    </div>
    <div>
      <%= f.submit %>
    </div>
    <div>
      <%= link_to "ブログ一覧へ戻る", blogs_path %>
    </div>
  </div>
<% end %>
