<%= form_with(model: @blog, url: choose_new_or_edit, local: true) do | f | %>
  <% if @blog.errors.any? %>
    <div>
      <P><%= @blog.errors.count %>件のエラーがあります。</P>
      <ul>
        <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-field">
    <div>
      <div>
        <%= f.label :"タイトル:", class:"input-label"%>
      </div>
      <%= f.text_field :title, class:"input"%>
    </div>
    <div>
      <div>
        <%= f.label :"内容:", class:"input-label" %>
      </div>
      <%= f.text_area :content, class:"input blog-input" %>
    </div>
    <div>
      <%= f.label :"投稿画像", class:"input-label"%>
      <%= f.file_field :image, class:"input" %>
    </div>
    <div>
      <%= f.submit class:"input" %>
    </div>
    <div>
      <%= link_to "ブログ一覧へ戻る", blogs_path, class:"link"  %>
    </div>
  </div>
<% end %>
