<h1>ブログ一覧</h1>
<%= form_with(model: @blog, local: true) do | f | %>
  <table>
    <tr>
      <th>タイトル</th>
      <th>内容</th>
      <th>投稿者</th>
      <th>投稿画像</th>
    </tr>
    <tr>
      <% @blogs.each do |blog| %>
      <td><%= blog.title %></td>
      <td><%= blog.content %></td>
      <td><%= %></td>
      <td><%= %></td>
      <% end %>
    </tr>
  </table>
  <div>
    <%= link_to "新規投稿へ", new_blog_path %>
  </div>
<% end %>
