<h1>新規ユーザー登録</h1>
<%= form_with(model: @user, local: true) do | f |%>
  <div class="error_explanation">
    <% if @user.errors.any? %>
      <p><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %>from being saved: </p>
      <ul>
        <% @user.errors.full_messages.each do | msg | %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div>
    <%= f.label :"お名前:" %>
    <%= f.text_field :"name" %>
  </div>
  <div>
    <%= f.label :"Eメールアドレス:" %>
    <%= f.email_field :"email" %>
  </div>
  <div>
    <%= f.label :"パスワード:" %>
    <%= f.password_field :"password" %>
  </div>
  <div>
    <%= f.label :"パスワード確認:" %>
    <%= f.password_field :"password_confirmation" %>
  </div>
  <div>
    <%= f.label :"プロフィール写真"%>
    <%= f.file_field "selfpicture" %>
  </div>
  <div>
    <%= f.submit "新規ユーザー登録をする"%>
  </div>
  <div>
    <%= link_to "ブログ一覧へ", blogs_path %>
  </div>


<% end %>
