<h1>新規ユーザー登録</h1>
<%= form_with(model: @user, local: true) do | f |%>
  <div class="error_explanation">
    <% if @user.errors.any? %>
      <p><%= @user.errors.count%>件のエラーがあります。</p>
      <ul>
        <% @user.errors.full_messages.each do | msg | %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div>
    <%= f.label :"お名前:" %>
    <%= f.text_field :"name" %>
  </div>
  <div>
    <%= f.label :"Eメールアドレス:" %>
    <%= f.text_field :"email" %>
  </div>
  <div>
    <%= f.label :"パスワード:" %>
    <%= f.text_field :"password" %>
  </div>
  <div>
    <%= f.label :"パスワード確認:" %>
    <%= f.text_field :"password_confirmation" %>
  </div>
  <div>
    <%= f.submit "新規ユーザー登録をする"%>
  </div>

<% end %>
