<h1><%= @user.name %> ページ</h1>

<P>お名前: <%= @user.name %> </P>
<P>Eメールアドレス: <%= @user.email %></P>
<div>
  <%= link_to "お気に入り画像ページへ", favorite_path(current_user.id) %>
  <%= link_to "登録情報を編集する", edit_user_path(current_user.id), data:{confirm: "登録を編集してもいいですか？"} if logged_in? %>
  <%= link_to "登録を削除する", user_path, method: :delete, data:{confirm: "登録を消してもいいですか？"}%>
  <%= link_to "新規ブログ投稿へ", new_blog_path %>
</div>
